@import url('../vendor/kingthingscalligraphica_light_macroman/stylesheet.css');

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  margin: 10px;
  background-color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

header h1 { width: 50%; margin-bottom: 2em; border-bottom: 1px solid #ccc; }
h2, h3, h4, h5, h6 { margin-bottom: 1em; }

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

pre { font-size: 0.9em; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Custom
/*
/*****************************************************************************/

.reveal blockquote {
    padding: 10px 40px;
    background: #eee;
}

.reveal blockquote.shakespeare {
    font-family: 'kingthings_calligraphica_liLt';
    font-size: 1.5em;
}

.twitter-tweet {
    margin: 1em auto !important;
}

.line-numbers {
    padding-right: 1em;
}

.slides section .byte-array {
    margin: auto;
    font-family: monospace;
}

.slides section .byte-array td {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    padding: 4px;
    text-align: center;
}

.actions {
    position: absolute;
    top: 10px;
    right: 10px;
}

.action {
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 20px;
    background: black;
    font-family: 'Impact';
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

.action a {
    text-decoration: none;
    color: #fff;
}

.action:hover {
    cursor: pointer;
}

.enable-slides {
    background: #06f;
}

.enable-slides:hover {
    background: #39f;
}

.video {
    background: #f60;
}

.video:hover {
    background: #f93;
}

.reveal pre.tiny {
    font-size: 0.5em;
    line-height: 1em;
}

.slides-only {
    display: none;
}
