<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="vendor/prism/prism.css">
    </head>

    <body class="essay">
        <div class="site">
            <nav>
                <ul>
                    <li><a href="use-your-type-system.html">Use Your Type System; Write Less Code</a></li>
                    <li><a href="design-patterns-in-the-21st-century.html">Design Patterns in the 21<sup>st</sup> Century</a></li>
                    <li><a href="highly-strung.html">Highly Strung</a></li>
                </ul>
            </nav>

            <aside class="actions">
                <span>View as:</span>
                <a class="action show-essay" href="#">Essay</a>
                {% if page.presentation and page.presentation.enabled %}
                    &bull; <a class="action show-presentation" href="#">Presentation</a>
                {% else if page.presentation.link %}
                    &bull; <a class="action link-to-presentation" href="{{ page.presentation.link }}">Presentation</a>
                {% endif %}
                {% if page.video %}
                    {% if page.video.youtube_id %}
                        &bull; <a class="action show-video" href="{{ page.video.link }}">Video</a>
                    {% else %}
                        &bull; <a href="{{ page.video.link }}">Video</a>
                    {% endif %}
                {% endif %}
            </aside>

            <main class="reveal document {% if page.code %}language-{{page.code.language}}{% endif %}">
                <div class="slides">
                    <section>
                        <header>
                            <h1>{{ page.title }}</h1>
                            <h2>{{ page.date || date: '%A %-d %B %Y' }}</h2>
                        </header>
                    </section>

                    {{ content }}
                </div>
            </main>

            {% if page.video and page.video.youtube_id %}
                <div class="video-player">
                    <iframe src="//www.youtube.com/embed/{{ page.video.youtube_id }}" frameborder="0" allowfullscreen></iframe>
                </div>
            {% endif %}

            <footer>
                <p>This work is published under the <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) License</a>.</p>
            </footer>
        </div>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script src="vendor/prism/prism.js" charset="utf-8"></script>
        <script src="vendor/reveal.js/lib/js/head.min.js"></script>
        <script src="vendor/reveal.js/js/reveal.js"></script>

        <script src="actions.js"></script>
    </body>
</html>
